<!DOCTYPE html>
<html lang="en" x-data="{ isOpen: false, ...themeSwitcher() }" x-init="init()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="https://tailwindui.com/build/assets/app-2d0319e7.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path= './img/faq.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path= './css/output.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://tailwindui.com/build/assets/app-32827a4c.js"></script>
    <script src="{{ url_for('static' , path='./js/darkMode.js') }}"></script>
    <script src="{{ url_for('static', path='./js/activeLink.js') }}"></script>
    <title></title>
</head>
<body  :class="{ 'dark': isDarkMode }" >
    {% include 'layout/navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'layout/footer.html' %}
</body>
</html>