{% extends 'base.html' %}
{% block title %}
Hobbies & Interest - Heena Jethava Portfolio
{% endblock %}
{% block content %}
<!-- HOBBIES SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <div class="flex lg:py-20 lg:pb-[2.1rem] flex-col lg:flex-row">
        <div class="grid grid-cols-1 gap-3 lg:px-28  pr-10 pl-10 lg:mt-0 mt-20">
            <div class="flex items-center justify-center pl-6">
                <img class="" src="{{ url_for('static', path= './img/hobbies.svg') }}">
            </div>
        </div>

        <div class="px-10 lg:pl-8">
            <div class="relative z-20 mx-auto max-w-[85rem]  lg:max-w-full lg:flex lg:items-center lg:justify-center">
                <div class="px-4 pt-4 lg:w-3/4 sm:w-1/4">
                    <p class="mt-4 text-3xl font-bold text-black sm:text-5xl sm:leading-[3.5rem] dark:text-white">
                       Hobbies & Interest</p>
                    <div class="flex flex-wrap gap-6 mt-4">
                        <div class="flex items-center text-sm font-medium text-slate-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                              </svg>
                              
                            <span class="ml-2.5">Ms. Heena Jethava</span>
                        </div>
                        <div class="flex items-center text-sm font-medium text-slate-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
                              </svg>
                              
                            <span class="ml-2.5">+1 Year of Experience</span>
                        </div>
                        <div class="flex items-center text-sm font-medium text-slate-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                              </svg>
                              
                            <span class="ml-2.5">Dombivli</span>
                        </div>
                    </div>

                    
                    <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">
                        I have a passion for transforming spaces with creative designs like Logo, Presentation, Poster & Video Invites design 
                        </p>
                        <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">
                        Capturing the world's beauty through my lens in photography, and delighting in cooking delicious meals for others. 
                    </p>
                        
                    <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">
                        Painting allows me to express my creativity and emotions, while Mehendi art lets 
                        me create intricate and beautiful designs.
                    </p>

                    <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">
                        Additionally, 
                        I enjoy collecting unique items that tell fascinating stories, adding depth to my interests and experiences
                    </p>
                       
        
                </div>
            </div>
        </div>
       
    </div>
</div>
 <!--HOBBIES SECTION  -->

 <!-- START HERO SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <div class="mx-auto w-full max-w-[85rem]  px-8 py-20 sm:px-6 lg:px-8">
        <div class="tabs flex flex-wrap justify-center mb-8 gap-3 sm:gap-5">
            <button class="tab-button px-4 py-2 border-b border-b-teal-600 dark:text-white rounded-l" data-tab="logo-design">Logo Design</button>
            <button class="tab-button px-4 py-2 border-b dark:text-white" data-tab="presentation-design">Presentation Design</button>
            <button class="tab-button px-4 py-2 border-b dark:text-white" data-tab="poster-design">Poster Design</button>
            <button class="tab-button px-4 py-2 border-b dark:text-white rounded-r" data-tab="video-invite-design">Video Invite Design</button>
        </div>
        
        <div id="logo-design" class="tab-content active">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 ">
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg  dark:border-slate-500  dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                <p class="font-medium dark:text-white">
                   Project Title
                 </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <div class="flex justify-center items-center gap-3">
                    <a href="">
                        <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                            View Prototype
                        </button>
                </a>
                <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    More Details
                </button>
                </div>
               
            </div>
            <div id="modal-backdrop" class="hidden fixed inset-0 bg-black bg-opacity-50 z-40"></div>
            <!-- Main modal -->
            <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50  items-center justify-center overflow-y-auto overflow-x-hidden">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Terms of Service
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
                            </p>
                            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                            </p>
                        </div>
                        <!-- Modal footer -->
                        <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-teal-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg dark:border-slate-500    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                <p class="font-medium dark:text-white">
                    Project Title
                 </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <div class="flex justify-center items-center gap-3">
                    <a href="">
                    <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                        View Prototype
                    </button>
                </a>
                <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    More Details
                </button>
                </div>
            </div>
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                <p class="font-medium dark:text-white">
                    Blinkit Web Landing Page - Ecommerce
                 </p>
                <div class="flex items-center justify-center py-6 rounded">
                    <img src="{{ url_for('static', path= './img/blinkit.png') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I Designed a Visually Appealing and User-Friendly Landing page for a Blinkit Clone.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 24 May 04 - 24 May 05 </span>
                </p>
                <div class="flex justify-center items-center gap-3">
                    <a target="_blank" href="https://www.figma.com/proto/MuIw4vjFAbFJvBrhW90Wox/Blinkit-Web-Landing-Page-Clone?node-id=117-2632&t=zFZknpjz72qStNYn-1">
                        <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                            View Prototype
                        </button>
                </a>
                <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    More Details
                </button>
                </div>
            </div>
            
        </div>
        </div>

        <div id="presentation-design" class="tab-content">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 mt-10">
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                <p class="font-medium dark:text-white">
                    Fresh Food Web Landing Page
                 </p>
                <div class="flex items-center justify-center py-6 rounded">
                    <img src="{{ url_for('static', path= './img/fresh.png') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I designed a user-friendly landing page for a food service to order high-quality groceries.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 June 15 - 23 June 18 </span>
                </p>
                    
            <div class="flex justify-center items-center gap-3">
                <a target="_blank" href="https://www.figma.com/proto/mtUhUOostSZWkzX9efjlak/Fresh-Food-Web-Landing-Page?node-id=405-530&t=GtrQ4K4TGKDABJkF-1&scaling=scale-down-width&content-scaling=fixed">
                    <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                        View Prototype
                    </button>
                </a>
                <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    More Details
                </button>
            </div>
            </div>
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                <p class="font-medium dark:text-white">
                    Nike Shoe Web Landing Page
                 </p>
                <div class="flex items-center justify-center py-6 rounded">
                    <img src="{{ url_for('static', path= './img/nike.png') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">This Nike shoe landing page showcases the latest footwear collection with dynamic visuals.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 June 15 - 23 June 15 </span>
                </p>
                   
            <div class="flex justify-center items-center gap-3">
                <a target="_blank" href="https://www.figma.com/proto/tcx66e648JY6LfoX7pPQmP/Nike-Shoes-Web-Landing-Page?node-id=209-259&t=sbx4eny00kNEND30-1">
                    <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                        View Prototype
                    </button>
                </a>    
                <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    More Details
                </button>
            </div>
            </div>

            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                <p class="font-medium dark:text-white">
                    Car Booking Web Landing Page
                 </p>
                <div class="flex items-center justify-center py-6 rounded ">
                    <img src="{{ url_for('static', path= './img/car.png') }}" >
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">This car booking landing page showcases my ability to build user interfaces for car rentals.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 15 </span>
                </p>
                    
            <div class="flex justify-center items-center gap-3">
                <a target="_blank" href="https://www.figma.com/proto/mtUhUOostSZWkzX9efjlak/Fresh-Food-Web-Landing-Page?node-id=405-530&t=GtrQ4K4TGKDABJkF-1&scaling=scale-down-width&content-scaling=fixed">
                    <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                        View Prototype
                    </button>
                </a>    
                <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    More Details
                </button>
            </div>
            </div>
           
            
        </div>
        </div>

        <div id="poster-design" class="tab-content">
            <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 ">
                <div class="flex flex-col items-center justify-start rounded-xl shadow-lg  dark:border-slate-500  dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                    <p class="font-medium dark:text-white">
                       Project Title
                     </p>
                    <div class="flex items-center justify-center p-6 rounded">
                        <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                    </div>
                    <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                        functional and visually appealing.</p>
                    <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                          </svg>
                        <span> 23 Jan 12 - 23 Jan 20 </span>
                    </p>
                    <div class="flex justify-center items-center gap-3">
                        <a href="">
                            <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                                View Prototype
                            </button>
                    </a>
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                    class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                        More Details
                    </button>
                    </div>
                   
                </div>
                <div id="modal-backdrop" class="hidden fixed inset-0 bg-black bg-opacity-50 z-40"></div>
                <!-- Main modal -->
                <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50  items-center justify-center overflow-y-auto overflow-x-hidden">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Terms of Service
                                </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5 space-y-4">
                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                    With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
                                </p>
                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                    The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                                </p>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-teal-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="flex flex-col items-center justify-start rounded-xl shadow-lg dark:border-slate-500    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                    <p class="font-medium dark:text-white">
                        Project Title
                     </p>
                    <div class="flex items-center justify-center p-6 rounded">
                        <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                    </div>
                    <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                        functional and visually appealing.</p>
                    <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                          </svg>
                        <span> 23 Jan 12 - 23 Jan 20 </span>
                    </p>
                    <div class="flex justify-center items-center gap-3">
                        <a href="">
                        <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                            View Prototype
                        </button>
                    </a>
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                    class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                        More Details
                    </button>
                    </div>
                </div>
                
                <div class="flex flex-col items-center justify-start rounded-xl shadow-lg    dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-12">
                    <p class="font-medium dark:text-white">
                        Blinkit Web Landing Page - Ecommerce
                     </p>
                    <div class="flex items-center justify-center py-6 rounded">
                        <img src="{{ url_for('static', path= './img/blinkit.png') }}">
                    </div>
                    <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I Designed a Visually Appealing and User-Friendly Landing page for a Blinkit Clone.</p>
                    <p class="font-medium  flex justify-center items-center dark:text-gray-400 text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                          </svg>
                        <span> 24 May 04 - 24 May 05 </span>
                    </p>
                    <div class="flex justify-center items-center gap-3">
                        <a target="_blank" href="https://www.figma.com/proto/MuIw4vjFAbFJvBrhW90Wox/Blinkit-Web-Landing-Page-Clone?node-id=117-2632&t=zFZknpjz72qStNYn-1">
                            <button class="block font-medium dark:text-teal-50 text-teal-50 mt-5  border border-teal-700  dark:hover:border-teal-700 px-4 py-1 rounded bg-teal-700 hover:text-teal-50 duration-700">
                                View Prototype
                            </button>
                    </a>
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
                    class="block font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-50  dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                        More Details
                    </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- END HERO SECTION -->


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tabs = document.querySelectorAll(".tab-button");
        const contents = document.querySelectorAll(".tab-content");

        tabs.forEach(tab => {
            tab.addEventListener("click", function() {
                const target = this.getAttribute("data-tab");

                tabs.forEach(t => t.classList.remove("border-b-teal-600"));
                this.classList.add("border-b-teal-600");

                contents.forEach(content => {
                    content.classList.remove("active");
                    if (content.getAttribute("id") === target) {
                        content.classList.add("active");
                    }
                });
            });
        });
    });
</script>
<style>
    .tab-content {
        display: none;
    }
    .tab-content.active {
        display: block;
    }



</style>
{% endblock %}