{% extends 'base.html' %}
{% block title %}
Resume - Heena Jethava Portfolio
{% endblock %}
{% block content %}
<!--START BANNER SECTION -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="mx-auto w-full max-w-[85rem] px-4 py-24 sm:px-6 lg:px-8 lg:py-24">
        <div class="relative z-20 mx-auto max-w-lg sm:max-w-none lg:max-w-full lg:flex lg:items-center">
            <div class="px-4 pt-4 lg:w-2/3">
                <div class="flex justify-start items-center">
                    <a href="{{url_for('index')}}">
                        <p class="text-base  leading-7 text-teal-800 dark:text-[#a2c3cf]">Home</p>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="teal" class="size-5 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                    </svg>
                    <p class="text-base  leading-7 text-teal-800 dark:text-[#a2c3cf]">My Resume </p>
                </div>
                <h1 class="mt-4 text-3xl font-bold text-black  sm:text-5xl sm:leading-[3.5rem] dark:text-white">
                   My Resume</h1>

                <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">Explore My Profile, Education, Experience, Certifications and Skills in Software Development & UI/UX Design.</p>
                <div class="mt-8 flex flex-col sm:flex-row gap-4">
                    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-teal-700 text-white hover:bg-teal-900 duration-700"
                        href="javascript:void(0)"><span>Want to Hire me ? <span aria-hidden="true"
                                class="text-slate-400 sm:inline">→</span></span></a>
                    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-white/0 text-slate-900 ring-1 ring-slate-900/10 hover:bg-white/25 hover:ring-slate-900/15 after:duration-700 dark:ring-white/25 dark:text-white"
                        href="javascript:void(0)"><span>Let's Connect <span aria-hidden="true"
                                class="text-black/25 sm:inline dark:text-slate-400">→</span></span></a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END BANNER SECTION -->


<!-- EDUCATION SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <div class="flex py-20 flex-col-reverse lg:flex-row ">
        <div class="lg:pl-8 px-10">
            <div class="relative z-20 lg:pl-24   max-w-[85rem] lg:max-w-full lg:flex lg:items-center lg:justify-center">
                <div class="lg:w-full sm:w-1/4">
                    <p class="mt-4 text-2xl font-bold text-black  sm:leading-[3.5rem] dark:text-white">
                        Education</p>
                    <p class="mt-4 text-base font-bold leading-7 text-slate-600 dark:text-gray-400">
                        The S.I.A. College of Higher Education, Dombivli East</p>
                    <p class=" text-base leading-7 text-slate-600 dark:text-gray-400 italic">
                        Affiliated to University of Mumbai</p>
                        <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400"> Bachelor of Science in Information Technology (B.Sc.-IT) </p>
                        <p class="  text-base leading-7 text-slate-600 dark:text-gray-400">  CGPA: 8.90 </p>
                </div>
            </div>
        </div>  

        <div class="grid grid-cols-1 gap-4 lg:pl-10 lg:pr-28 pr-10 pl-10 lg:mt-0 mt-7">
            <div class="flex items-center justify-center p-6 rounded">
                <img src="{{ url_for('static', path= './img/education.svg') }}" class="lg:w-[60%]" >
            </div>
        </div>
    </div>
</div>
 <!--EDUCATION SECTION  -->



 <!-- START EXPERIENCE SECTION -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="flex py-20 flex-col lg:flex-row">
        <div class="grid grid-cols-1 gap-4 lg:pr-10 lg:pl-28 pr-10 pl-10 lg:mt-0 mt-7">
            <div class="flex items-center justify-center p-6 rounded">
                <img src="{{ url_for('static', path= './img/experience.svg') }}">
            </div>
        </div>
        
        <div class="lg:pl-8 px-10">
            <div class="relative z-20 mx-auto max-w-[85rem]  lg:max-w-full lg:flex lg:items-center lg:justify-center">
                <div class="px-4 lg:w-3/4 sm:w-1/4">
                    <p class="mt-4 text-2xl font-bold text-black   sm:leading-[3.5rem] dark:text-white">
                        Experience</p>
                    <div class="flex flex-wrap gap-6 mt-4">
                        <div class="flex items-center text-sm font-medium text-slate-500">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                              </svg>
                            <span class="ml-2.5">Addnectar Solutions Private Limited, Andheri</span>
                        </div>
                        <div class="flex items-center text-sm font-medium text-slate-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                              </svg>
                            <span class="ml-2.5">Aug 2023 - Present</span>
                        </div>
                      
                    </div>
                   
                    <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">
                        Developed and maintained responsive web applications using modern technologies, ensuring cross-browser compatibility and mobile responsiveness. 
                       </p>
                    <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">
                        Collaborated with cross-functional teams to define, design, and deliver new features, improving user experience and functionality 
                    </p>
                    <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400 italic">
                       <span class="font-bold">  Tech Stack: </span> Html5, Css3, Js, Alpine JS, Python, Django, FastAPI, React Js, Dear Flip Js, Bootstrap            
                    </p> 
                   </div>
            </div>
        </div>
    </div>
</div>
 <!-- END EXPERIENCE SECTION -->


<!-- START SKILLS SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <div class="py-20">
        <div class="lg:px-28 px-12">
            <div class="relative z-20 max-w-[85rem] lg:max-w-full lg:flex lg:items-center lg:justify-center">
                <div class="w-full">
                    <p class="mt-4 text-2xl font-bold text-black sm:leading-[3.5rem] dark:text-white">Skills</p>
                    <div class="flex flex-wrap mt-4  items-start">
                        <div class="w-full lg:w-1/3 mt-4">
                            <span class="flex gap-2 text-xl font-bold text-slate-600 dark:text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mt-[0.25rem]">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                                  </svg>
                                  <h3>
                                    Software Development
                                </h3>
                            </span>
                          
                            <ul class="list-disc ml-6 mt-2 text-base leading-7 text-slate-600 dark:text-gray-400">
                                <li>Frameworks & Libraries: Django, FastAPI, React Js</li>
                                <li>Tools & Technologies: Git, SQL, NoSQL</li>
                                <li>Front-End Development: JavaScript, HTML5, CSS3, TailwindCSS, Bootstrap</li>
                                <li>Back-End Development: Python</li>
                                <li>Version Control: Git, GitHub, GitLab</li>
                            </ul>
                        </div>
                    
                        <div class="w-full lg:w-1/3 mt-4">
                            <span class="flex gap-2 text-xl font-bold text-slate-600 dark:text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
                                  </svg>
                                  
                                  <h3>
                                    UI/UX Design
                                </h3>
                            </span>
                            <ul class="list-disc ml-6 mt-2 text-base leading-7 text-slate-600 dark:text-gray-400">
                                <li>Design Tools: Figma</li>
                                <li>Figma Prototyping & Wireframing</li>
                                <li>Design Principles: User-Centered Design, Responsive Design, Accessibility</li>
                                <li>Graphic Design: Adobe Illustrator</li>
                                <li>Typography & Color Theory</li>
                                <li>Interaction Design: Micro-interactions, Animation</li>
                            </ul>
                        </div>
                    
                        <div class="w-full lg:w-1/3 mt-4">
                            <span class="flex gap-2 text-xl font-bold text-slate-600 dark:text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
                                  </svg>
                                  
                                  
                                  <h3>
                                   Soft Skills
                                </h3>
                            </span>
                            <ul class="list-disc ml-6 mt-2 text-base leading-7 text-slate-600 dark:text-gray-400">
                                <li>Problem-Solving: Analytical and creative problem-solving abilities</li>
                                <li>Collaboration: Team collaboration and project management</li>
                                <li>Adaptability: Flexibility to adapt to new technologies and methodologies</li>
                                <li>Time Management: Ability to prioritize tasks and manage time effectively</li>
                                <li>Attention to Detail: Precision in design and coding for high-quality output</li>
                                <li>User Research: Conducting and applying user research to inform design decisions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<!-- END SKILLS SECTION -->



 <!-- HERO SECTION -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="mx-auto w-full max-w-[85rem] px-8  py-20 sm:px-6 lg:px-8">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-4 gap-10 ">
            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <div class="flex items-center justify-center p-6 rounded-full bg-teal-700 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m.75 12 3 3m0 0 3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                      </svg>
                      
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-400">I approach innovative solutions that are both
                    functional and visually appealing.</p>
              
                <button
                    class="font-medium text-slate-50 dark:hover:text-teal-50 mt-5 bg-slate-800 border border-slate-700 dark:border-slate-700 dark:hover:border-slate-700 px-4 py-1 rounded duration-700">
                    My Resume/CV
                </button>
            </div>
            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <div class="flex items-center justify-center p-6 rounded-full bg-teal-700 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                      </svg>
                      
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-400">I enjoy getting down to the code and building software
                    solutions that work flawlessly.</p>
                <button
                class="font-medium text-slate-50 dark:hover:text-teal-50 mt-5 bg-slate-800 border border-slate-700 dark:border-slate-700 dark:hover:border-slate-700 px-4 py-1 rounded duration-700">
                Blogs/Article
            </button>
            </div>
            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <div class="flex items-center justify-center p-6 rounded-full bg-teal-700 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                      </svg>
                      
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-400">I'm always learning & staying up-to-date on the latest
                    technologies to deliver the best.</p>
                <button
                    class="font-medium text-slate-50 dark:hover:text-teal-50 mt-5 bg-slate-800 border border-slate-700 dark:border-slate-700 dark:hover:border-slate-700 px-4 py-1 rounded duration-700">
                    Want to Hire me?
                </button>
            </div>
            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700 px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <div class="flex items-center justify-center p-6 rounded-full bg-teal-700 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                      </svg>
                      
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-400">I'm excited to take on new challenges and help your
                    project reach its full potential.</p>
                <button
                    class="font-medium text-slate-50 dark:hover:text-teal-50 mt-5 bg-slate-800 border border-slate-700 dark:border-slate-700 dark:hover:border-slate-700 px-4 py-1 rounded duration-700">
                    Connect with me?
                </button>
            </div>
        </div>
    </div>
</div>


{% include 'faq.html' %}

{% endblock %}