{% extends 'base.html' %}

{% block content %}
<!--START BANNER SECTION -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="mx-auto w-full max-w-[85rem] px-4 sm:px-6 lg:px-8 lg:py-24">
        <div class="relative z-20 mx-auto max-w-lg sm:max-w-none lg:max-w-full lg:flex lg:items-center">
            <div class="px-4 pt-4 lg:w-2/3">
                <div class="flex justify-start items-center">
                    <a href="{{url_for('index')}}">
                        <p class="text-base  leading-7 text-teal-800 dark:text-[#a2c3cf]">Home</p>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="teal" class="size-5 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                    </svg>
                    <p class="text-base  leading-7 text-teal-800 dark:text-[#a2c3cf]"> Software Development </p>
                </div>
                <h1 class="mt-4 text-3xl font-bold text-black sm:text-5xl sm:leading-[3.5rem] dark:text-white">Software
                    Development</h1>

                <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">Over 500+ professionally designed,
                    fully responsive, expertly crafted component examples you can drop into your Tailwind projects and
                    customize to your heart’s content.</p>
                <div class="mt-8 flex flex-col sm:flex-row gap-4">
                    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-teal-700 text-white hover:bg-teal-900 duration-700"
                        href="{{url_for('hire_me')}}"><span>Want to Hire me ? <span aria-hidden="true"
                                class="text-slate-400 sm:inline">→</span></span></a>
                    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-white/0 text-slate-900 ring-1 ring-slate-900/10 hover:bg-white/25 hover:ring-slate-900/15 after:duration-700 dark:ring-white/25 dark:text-white"
                        href="javascript:void(0)"><span>Let's Connect <span aria-hidden="true"
                                class="text-black/25 sm:inline dark:text-slate-400">→</span></span></a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END BANNER SECTION -->

<!-- START HERO SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <div class="mx-auto w-full max-w-[85rem] px-4 py-20 sm:px-6 lg:px-8">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 ">
            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-10">
                <p class="font-medium dark:text-white">
                    Macrom Landipage User Interface
                </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/software-img1.svg') }}">
                </div>
                <p class="pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button
                    class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>

            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-10">
                <p class="font-medium dark:text-white">
                    QuickProof - Web Application & Adobe Illustrator Extension
                </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/software-img1.svg') }}">
                </div>
                <p class="pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button
                    class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>

            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-10">
                <p class="font-medium dark:text-white">
                    OneFlow
                </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/software-img1.svg') }}">
                </div>
                <p class="pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button
                    class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
        </div>

        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 mt-10">
            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-10">
                <p class="font-medium dark:text-white">
                    Virtual Sample Proofing
                </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/software-img1.svg') }}">
                </div>
                <p class="pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button
                    class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>

            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-10">
                <p class="font-medium dark:text-white">
                    Flip Catalog
                </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/software-img1.svg') }}">
                </div>
                <p class="pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button
                    class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>

            <div
                class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-10">
                <p class="font-medium dark:text-white">
                    Addnectar Website
                </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/software-img1.svg') }}">
                </div>
                <p class="pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button
                    class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
        </div>

    </div>
</div>
<!-- END HERO SECTION -->

<!-- START TECHNOLOGY / SOFTWARES -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="mx-auto w-full max-w-[85rem] px-4 py-20 sm:px-6 lg:px-8">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-6 gap-10">

            <div
                class="flex flex-col items-center cursor-pointer justify-center rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-8">
                <h3 class="dark:text-white text-xl">
                    Html & TailwindCSS
                </h3>
            </div>

            <div
                class="flex flex-col items-center cursor-pointer justify-center rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-8">
                <h3 class="dark:text-white text-xl">
                    Python
                </h3>
            </div>

            <div
                class="flex flex-col items-center cursor-pointer justify-center rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-8">
                <h3 class="dark:text-white text-xl">
                    Django
                </h3>
            </div>

            <div
                class="flex flex-col items-center cursor-pointer justify-center rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-8">
                <h3 class="dark:text-white text-xl">
                    FastAPI
                </h3>
            </div>

            <div
                class="flex flex-col items-center cursor-pointer justify-center rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-8">
                <h3 class="dark:text-white text-xl">
                    React
                </h3>
            </div>

            <div
                class="flex flex-col items-center cursor-pointer justify-center rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-8">
                <h3 class="dark:text-white text-xl">
                    Postgresql
                </h3>
            </div>

        </div>
    </div>
</div>
<!-- END TECHNOLOGY / SOFTWARES -->

<!-- START FAQ SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <section class="py-20 lg:px-24 px-8">
        <div class="container grid grid-cols-12 gap-6 xl:gap-10">
            <div
                class="col-span-12 p-4 border dark:border-slate-500 rounded-xl sm:px-10 sm:py-9 lg:col-span-5 bg-white dark:bg-gray-700">
                <p
                    class="mt-4 text-3xl flex justify-center font-bold text-black sm:text-5xl sm:leading-[3.5rem] dark:text-white">
                    FAQs</p>
                <div class="p-4 mb-6 rounded-xl sm:p-6">
                    <div class="flex items-center justify-center gap-3">
                        <img class="h-auto max-w-full rounded-lg size-24"
                            src="{{ url_for('static', path= './img/faq.gif') }}" alt="">
                    </div>
                </div>

                <div class="p-4 mb-6 border dark:border-slate-500 rounded-xl sm:p-6">
                    <div class="flex items-center justify-start gap-3">
                        <div
                            class="flex items-center justify-center p-3 border dark:border-slate-500 rounded-2xl text-b300 sm:p-5 dark:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                            </svg>
                        </div>
                        <div class="">
                            <h5 class="heading-5 dark:text-white">Still have questions?</h5>
                            <p class="pt-3 dark:text-white">
                                Can’t find the answer you’re looking for?Please chat to our
                                friendly team!
                            </p>
                        </div>
                    </div>
                </div>

                <a href="javascript:void(0)"
                    class="relative flex items-center justify-center overflow-hidden rounded-xl 
            px-4 py-3 font-semibold  duration-700 after:absolute after:inset-0 after:left-0 after:w-0 after:rounded-xl bg-teal-700 hover:bg-teal-900 text-white after:duration-700 hover:after:w-[calc(100%+2px)] sm:px-8">
                    <span class="relative z-10 dark:text-white">Get In Touch</span>
                </a>
            </div>

            <div
                class="flex flex-col items-start dark:text-white justify-center col-span-12 gap-6 p-4  rounded-xl sm:p-10 lg:col-span-7 dark:bg-gray-700 bg-white">
                <div class="px-4 py-3 overflow-hidden border dark:border-slate-500 faqItem rounded-2xl aos-init aos-animate"
                    x-data="{ isOpen: false }">
                    <div class="flex items-center justify-between max-sm:gap-2" @click="isOpen = !isOpen">
                        <p class="text-base font-medium cursor-pointer sm:text-lg pr-20">
                            Do you have experience with version control systems like Git?
                        </p>
                        <div class="faqIcon rotate" x-show="!isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <div class="faqIcon rotate" x-show="isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="duration-700" x-show="isOpen">
                        <p class="pt-3">
                            Yes, I am proficient in using Git for version control. I understand concepts like branching,
                            merging, and conflict resolution.
                        </p>
                    </div>
                </div>

                <div class="px-4 py-3 overflow-hidden border dark:border-slate-500  dark:text-white faqItem rounded-2xl aos-init aos-animate"
                    x-data="{ isOpen: false }">
                    <div class="flex items-center justify-between max-sm:gap-2" @click="isOpen = !isOpen">
                        <p class="text-base font-medium cursor-pointer sm:text-lg pr-20 ">
                            Have you worked with any API integrations?
                        </p>
                        <div class="faqIcon rotate" x-show="!isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <div class="faqIcon rotate " x-show="isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="duration-700 faqAnswer faqClose" x-show="isOpen">
                        <p class="pt-3 pr-8 cursor-pointer">
                            Yes, I have experience integrating APIs into web applications. I am comfortable working with
                            API documentation and utilizing libraries or frameworks to interact with APIs efficiently.
                        </p>
                    </div>
                </div>

                <div class="px-4 py-3 overflow-hidden border dark:border-slate-500  dark:text-white faqItem rounded-2xl aos-init aos-animate"
                    x-data="{ isOpen: false }">
                    <div class="flex items-center justify-between  max-sm:gap-2" @click="isOpen = !isOpen">
                        <p class="text-base font-medium cursor-pointer sm:text-lg pr-20">
                            What is your design process for creating user-friendly interfaces?
                        </p>
                        <div class="faqIcon rotate" x-show="!isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <div class="faqIcon rotate " x-show="isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="duration-700 faqAnswer faqClose" x-show="isOpen">
                        <p class="pt-3 pr-8 cursor-pointer">
                            I follow a user-centered design process that emphasizes creating interfaces that are both
                            visually appealing and easy to use. This typically involves: User research, Information
                            architecture, Wireframing and prototyping, Usability testing
                        </p>
                    </div>
                </div>

                <div class="px-4 py-3 overflow-hidden border dark:border-slate-500 faqItem  dark:text-white rounded-2xl aos-init aos-animate"
                    x-data="{ isOpen: false }">
                    <div class="flex items-center justify-between  max-sm:gap-2 " @click="isOpen = !isOpen">
                        <p class="text-base font-medium cursor-pointer sm:text-lg pr-20">
                            What tools do you use for UI/UX design?
                        </p>
                        <div class="faqIcon rotate" x-show="!isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <div class="faqIcon rotate" x-show="isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="duration-700 faqAnswer faqOpen" x-show="isOpen">
                        <p class="pt-3 pr-8 text-n400">
                            For UI/UX design, I primarily use Figma.
                            I am also familiar with tools for wireframing and prototyping like Figma prototyping
                            features
                        </p>
                    </div>
                </div>

                <div class="px-4 py-3 overflow-hidden border dark:border-slate-500 faqItem rounded-2xl aos-init aos-animate"
                    x-data="{ isOpen: false }">
                    <div class="flex items-center justify-between max-sm:gap-2" @click="isOpen = !isOpen">
                        <p class="text-base font-medium cursor-pointer sm:text-lg pr-20">
                            Do you have experience working in an Agile development environment?
                        </p>
                        <div class="faqIcon rotate" x-show="!isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <div class="faqIcon rotate" x-show="isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="duration-700 faqAnswer faqClose" x-show="isOpen">
                        <p class="pt-3 pr-8 text-n400">
                            Yes, I have experience working in an Agile development environment.
                            I am familiar with methodologies like Scrum and Kanban
                        </p>
                    </div>
                </div>

                <div class="px-4 py-3 overflow-hidden border dark:border-slate-500 faqItem rounded-2xl aos-init aos-animate"
                    x-data="{ isOpen: false }">
                    <div class="flex items-center justify-between max-sm:gap-2" @click="isOpen = !isOpen">
                        <p class="text-base font-medium cursor-pointer sm:text-lg pr-20">
                            When would you be available to start a new position?
                        </p>
                        <div class="faqIcon rotate" x-show="!isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <div class="faqIcon rotate" x-show="isOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="duration-700 faqAnswer faqClose" x-show="isOpen">
                        <p class="pt-3 pr-8 text-n400">
                            I am currently employed, but my notice period is 2 months.
                            I would be available to start a new position sooner, depending on the specific circumstances
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END FAQ SECTION -->
{% endblock %}