{% extends 'base.html' %}
{% block title %}
UI/UX Design - Heena Jethava Portfolio
{% endblock %}
{% block content %}
<!--START BANNER SECTION -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="mx-auto w-full max-w-[85rem] px-4 sm:px-6 lg:px-8 lg:py-24  py-24">
        <div class="relative z-20 mx-auto max-w-lg sm:max-w-none lg:max-w-full lg:flex lg:items-center">
            <div class="px-4 pt-4 lg:w-2/3">
                <div class="flex justify-start items-center">  
                    <a href="{{url_for('index')}}"><p class="text-base  leading-7 text-teal-800 dark:text-[#a2c3cf]">Home</p></a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="teal" class="size-5 m-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                    </svg>
                    <p class="text-base  leading-7 text-teal-800 dark:text-[#a2c3cf]"> UI UX Design </p>
                </div>
                <h1 class="mt-4 text-3xl font-bold text-black sm:text-5xl sm:leading-[3.5rem] dark:text-white">UI UX Design</h1>
              
                <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">Transforming ideas into visually stunning and highly functional designs is my passion. With over 1+ year of experience in UI/UX design, I have honed my skills to deliver exceptional user experiences.</p>
                <p class="mt-4 text-base leading-7 text-slate-600 dark:text-gray-400">You can explore some of my recent UI/UX projects below, where I've showcased my design expertise and attention to detail. Ready to elevate your digital presence with captivating UI/UX design? </p>
                <div class="mt-8 flex flex-col sm:flex-row gap-4">
                    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-teal-700 text-white hover:bg-teal-900 duration-700" 
                    href="mailto:heenajeth2001@gmail.com?subject=Hiring Inquiry&body=Hi Heena,%0D%0A%0D%0AI hope this message finds you well. I came across your profile and I'm impressed by your background. I am currently looking to expand my team and would like to discuss a potential opportunity with you. Here are some initial details:%0D%0A%0D%0A- **Role**: [Position Title]%0D%0A- **Description**: [Brief description of the role and responsibilities]%0D%0A- **Timeline**: [Expected timeline for hiring]%0D%0A- **Location**: [If relevant, specify location or remote]%0D%0A%0D%0APlease let me know your availability to discuss this further. Looking forward to hearing from you!%0D%0A%0D%0AThank you,%0D%0A%0D%0A[Your Name]%0D%0A[Your Contact Information]"><span>Want to Hire me ? <span aria-hidden="true"
                                class="text-slate-400 sm:inline">→</span></span></a>
                    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-white/0 text-slate-900 ring-1 ring-slate-900/10 hover:bg-white/25 hover:ring-slate-900/15 after:duration-700 dark:ring-white/25 dark:text-white"
                    href="{{url_for('connect_with_me')}}"><span>Let's Connect <span aria-hidden="true"
                                class="text-black/25 sm:inline dark:text-slate-400">→</span></span></a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- END BANNER SECTION -->


<!-- START HERO SECTION -->
<div class="dark:bg-gray-900 bg-gray-100">
    <div class="mx-auto w-full max-w-[85rem] px-8 py-20 sm:px-6 lg:px-8">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 ">
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <p class="font-medium dark:text-white">
                    Blinkit Clone - Ecommerce
                 </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <p class="font-medium dark:text-white">
                    Car Booking App
                 </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
            
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <p class="font-medium dark:text-white">
                    Fresh Vegetables & Fruits
                 </p>
                <div class="flex items-center justify-center p-6 rounded">
                    <img src="{{ url_for('static', path= './img/ui-ux-img1.svg') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
            
        </div>
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-3 gap-10 mt-10">
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <p class="font-medium dark:text-white">
                    Blinkit Web Landing Page - Ecommerce
                 </p>
                <div class="flex items-center justify-center py-6 rounded">
                    <img src="{{ url_for('static', path= './img/blinkit.png') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <p class="font-medium dark:text-white">
                    Car Booking Web Landing Page
                 </p>
                <div class="flex items-center justify-center py-6 rounded ">
                    <img src="{{ url_for('static', path= './img/car.png') }}" >
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
            
            
            <div class="flex flex-col items-center justify-start rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  px-6 py-10 text-center sm:px-8 sm:py-20 lg:py-10 xl:py-20">
                <p class="font-medium dark:text-white">
                    Nike Shoe Web Landing Page
                 </p>
                <div class="flex items-center justify-center py-6 rounded">
                    <img src="{{ url_for('static', path= './img/nike.png') }}">
                </div>
                <p class="pt-8 pb-3 heading-5 dark:text-gray-200">I approach innovative solutions that are both
                    functional and visually appealing.</p>
                <p class="font-medium  flex justify-center items-center dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 m-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                    <span> 23 Jan 12 - 23 Jan 20 </span>
                </p>
                <button class="font-medium dark:text-teal-950 dark:hover:text-teal-50 mt-5 bg-teal-50 border border-teal-700 dark:border-teal-100 dark:hover:border-teal-700 px-4 py-1 rounded hover:bg-teal-700 hover:text-teal-50 duration-700">
                    View more
                </button>
            </div>
            
        </div>
    </div>
</div>
<!-- END HERO SECTION -->

<!-- START TECHNOLOGY / SOFTWARES -->
<div class="dark:bg-gray-800 bg-gray-50">
    <div class="mx-auto w-full px-8 py-20 sm:px-6 lg:px-20">
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-5 gap-10">
            <div class="rounded-xl  shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
                    <h3 class="dark:text-white text-xl p-1 ">
                        User Research
                    </h3>
            </div>

            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
                <h3 class="dark:text-white text-xl p-1">
                    Wireframing 
                </h3>
            </div>
            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
                <h3 class="dark:text-white text-xl p-1">
                    Prototyping 
                </h3>
            </div>

            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
            <h3 class="dark:text-white text-xl p-1">
                Information Architecture
            </h3>
            </div>

            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
            <h3 class="dark:text-white text-xl p-1">
            Visual Design
            </h3>
            </div>
        </div>
        
        <div class="container mx-auto grid grid-cols-1 min-[400px]:grid-cols-1 lg:grid-cols-4 gap-10 mt-8">
            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
            <h3 class="dark:text-white text-xl p-1">
            Interaction Design
            </h3>
            </div>

            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
            <h3 class="dark:text-white text-xl p-1">
            Usability Testing
            </h3>
            </div>
            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
            <h3 class="dark:text-white text-xl p-1">
                UI/UX Tools
            </h3>
            </div>
            <div class="rounded-xl shadow-lg border dark:border-slate-500 hover:border-teal-200 dark:hover:border-gray-200 bg-white dark:bg-gray-700  text-center">
            <h3 class="dark:text-white text-xl p-1">
                Responsive Design
            </h3>
            </div>
        </div>
    </div>
</div>
<!-- END TECHNOLOGY / SOFTWARES -->

{% include 'faq.html' %}

{% endblock %}